.center_wrap{

}

.center_wrap .center_top{
	position: relative;
	background: #45009c;
	height: 520px;
	overflow: hidden;
}

.center_wrap .center_top .ct_head{
	display: block;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 5px solid #FFF ;
	margin-left: auto;
	margin-right: auto;
	margin-top: 110px;
}

.center_wrap .center_top .ct_name{
	display: block;
	width: 100%;
	color: #FFF;
	margin-top: 25px;
	font-size: 36px;
	text-align: center;
}

.center_wrap .center_top .ct_state{ 
	display: block;
	width: 100%;
	margin-top: 80px;
}

.center_wrap .center_top .ct_state .unit{
	width: 32%;
	text-align: center;
}

.center_wrap .center_top .ct_state p{
	font-size: 30px;
	color: #FFF;
}

.center_wrap .center_main{

}

.center_wrap .center_main{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.center_wrap .center_main ul{
	width: 590px;
	margin-left: auto;
	margin-right: auto;
}

.center_wrap .center_main ul li{
	overflow: hidden;
	width: 590px;
	height: 90px;
	line-height: 90px;
	border: 2px solid #e7e7e7;
	border-radius: 40px;
	background: url('../imgs/20161104/list_bg.png') no-repeat 520px center;
	margin-top: 50px;
}

.center_wrap .center_main ul li .mark{
	width: 88px;
	height: 90px;
}

.center_wrap .center_main ul li .mark.duihuan{
	background: url('../imgs/20161104/list_duihuan.png') no-repeat center center;
}

.center_wrap .center_main ul li .mark.tixian{
	background: url('../imgs/20161104/list_tixian.png') no-repeat center center;
}

.center_wrap .center_main ul li .mark.fensi{
	background: url('../imgs/20161104/list_fans.png') no-repeat center center;
}

.center_wrap .center_main ul li .mark.qrcode{
	background: url('../imgs/20161104/list_qrcode.png') no-repeat center center;
}

.center_wrap .center_main ul li .mark.flow{
	background: url('../imgs/20161104/list_flow.png') no-repeat center center;
}

.center_wrap .center_main ul li .name{
	font-size: 36px;
	color: #333;
	width: 360px;
	height: 90px;
	overflow: hidden;
}

.center_wrap .center_main ul li .num{
	font-size: 30px;
	color: #333;
}

.hongbao_bg{
	background: #310070;
}

.hongbao_wrap{
	position: relative;
	background: url('../imgs/20161104/hongbao_bg.jpg') no-repeat center center;
	width: 750px;
	height: 1334px;
}

.hongbao_wrap .hw-remind{
	position: absolute;
	width: 520px;
	left: 50%;
	margin-left: -260px;
	font-size: 30px;
	color: #FFF;
	top: 430px;
	text-align: center;
}

.hongbao_wrap .hw-rest{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	bottom: 83px;
	color: #9f55ff;
	font-size: 24px;
	text-align: center;
}

.hongbao_wrap .hw-num-wrap{
	position: absolute;
	width: 614px;
	left: 50%;
	margin-left: -265px;
	top: 530px;
}

.hongbao_wrap .hw-num-wrap .hw-num{
	display: block;
	width: 116px;
	height: 116px;
	text-align: center;
	line-height: 116px;
	background: #6500e8;
	border-radius: 10px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 30px;
	color: #FFF;
}

.hongbao_wrap .hw-red-pocket{
	position: absolute;
	top: 866px;
	left: 50%;
	width: 618px;
	margin-left: -309px;
	text-align: center; 
}

.hongbao_wrap .hw-rp{
	display: inline-block;
	width: 131px;
	height: 158px;
	background: url('../imgs/20161104/hongbao_main.png') no-repeat;
	background-size: 131px 158px;
	margin: 5px;
}

.timeout_bg{
	background: #310070 url('../imgs/20161104/timeout_bg.jpg') no-repeat;
}

.timeout_wrap{
	min-height: 1134px;
}

.timeout_wrap .tw-main2{
	position: absolute;
	width: 740px;
	height: 739px;
	top: 270px;
	left: 50%;
	margin-left: -370px;
}

.timeout_wrap .tw-main{
	position: absolute;
	width: 673px;
	height: 621px;
	top: 374px;
	left: 50%;
	margin-left: -313px;
}

.tw-timeout{
	position: absolute;
	top: 1031px;
	width: 570px;
	height: 127px;
	line-height: 127px;
	left: 50%;
	margin-left: -285px;
	background: url('../imgs/20161104/timeout_wrap.png') no-repeat;
	font-size: 68px;
	color: #FFF;
	text-indent: 140px;
}

.tw-share{
	position: absolute;
	width: 174px;
	height: 76px;
	font-size: 36px;
	text-align: center;
	line-height: 76px;
	left: 50%;
	margin-left: -87px;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 40px;
	top: 1226px;
	opacity: 0.8;
}

.window-wrap{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.window-wrap .window-mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.window-wrap .window-close{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 200px;
	right: 100px;
	pointer-events: none;
}

.window-wrap .window-main{
	position: absolute;
	width: 494px;
	height: 694px;
	background: url('../imgs/20161104/window_bg.png') no-repeat center center;
	left: 50%;
	margin-left: -247px;
	top: 250px;
}

.window-wrap .window-main .wm-show{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	top: 500px;
}

.window-wrap .window-main .wm-show .mark{
	font-size: 60px;
	color: #fff75c;
}

.window-wrap .window-main .wm-show .num{
	font-size: 100px;
	color: #fff75c;
}