.bg-grey{
	background: #f9f9f9;
}

.top-wrap{
	position: relative;
	width: 100%;
	height: 580px;
	background: #FFF;
	border-bottom: 2px solid #e5e5e5; 
}

.top-wrap .user-head{
	position: absolute;
	width: 155px;
	height: 155px;
	border-radius: 50%;
	border: 5px solid #ff8c8c;
	left: 50%;
	margin-left: -78px;
	top: 230px;
}

.top-wrap .top-block-bg{
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 140px;
	width: 400px;
	height: 200px;
	border: 2px solid #ececec ;
	border-bottom: none;
	-webkit-border-radius: 200px 200px 0px  0px;
}

.top-wrap .top-count-wrap .tcw{
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 2px solid #f4f4f4;
	background: #FFF;
}

.top-wrap .top-count-wrap .tcw:nth-child(1){
	top: 222px;
	left: 115px;
}

.top-wrap .top-count-wrap .tcw:nth-child(2){
	top: 55px;
	left: 310px;
}

.top-wrap .top-count-wrap .tcw:nth-child(3){
	top: 222px;
	right: 115px;
}

.top-wrap .top-count-wrap .tcw .t1{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #ff5858;
	margin-top: 25px; 
	font-weight: bold;
}

.top-wrap .top-count-wrap .tcw .t2{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #333333;
	margin-top: 5px;
	font-weight: bold;
}

.top-wrap .user-name{
	position: absolute;
	left: 0px;
	top: 430px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: #333;
}

.top-wrap .user-id{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 485px;
	text-align: center;
	font-size: 30px;
	color: #bbbbbb;
}

.main-wrap{
	position: relative;
}

.main-wrap .mw-line{
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #FFF;
	border-bottom: 2px solid #e5e5e5; 
	border-top: 2px solid #e5e5e5;
	margin-top: 12px;  
}

.main-wrap .mw-line .title{
	width: 130px;
	height: 100%;
	position: relative;
}

.main-wrap .mw-line .title.duihuan{
	background: #49b8fb;
}

.main-wrap .mw-line .title.duihuan:after{
	content: '';
	position: absolute;
	width: 54px;
	height: 46px;
	background: url('../imgs/icons/duihuan.png') no-repeat;
	top: 30px;
	left: 35px;
}

.main-wrap .mw-line .title.tixian{
	background: #e26f65;
}

.main-wrap .mw-line .title.tixian:after{
	content: '';
	position: absolute;
	width: 54px;
	height: 46px;
	background: url('../imgs/icons/money.png') no-repeat;
	top: 30px;
	left: 35px;
}

.main-wrap .mw-line .title.fensi{
	background: #fad56b;
}

.main-wrap .mw-line .title.fensi:after{
	content: '';
	position: absolute;
	width: 54px;
	height: 46px;
	background: url('../imgs/icons/like.png') no-repeat;
	top: 30px;
	left: 35px;
}

.main-wrap .mw-line .title.erweima{
	background: #a07ccc;
}

.main-wrap .mw-line .title.erweima:after{
	content: '';
	position: absolute;
	width: 54px;
	height: 46px;
	background: url('../imgs/icons/qrcode.png') no-repeat;
	top: 30px;
	left: 35px;
}

.main-wrap .mw-line .name{
	font-size: 32px;
	color: #333;
	margin-left: 30px; 
	width: 480px;
	overflow: hidden;
	white-space: nowrap;
}

.main-wrap .mw-line .num{
	font-size: 30px;
	color: #333;
}



.more-icon:after, .more-icon:before {
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    width: 0;
    height: 0;
    position: absolute;
    top: 48%;
    margin-top: -6px;
    right: 15px;
    content: ' ';
}

.more-icon:before {
    border-left-color: #bfbfbf;
    right: 10px;
}

.fanpai-main{
	position: relative;
	width: 750px;
	height: 1002px;
	background: url('../imgs/pai-main-bg.png') no-repeat;
}

.fanpai-main .fanpai-cover{
	position: absolute;
	width: 696px;
	height: 746px;
	border-radius: 14px;
	left: 25px;
	top: 16px;
}

.fanpai-main .radio-play{
	position: absolute;
	width: 696px;
	height: 746px;
	left: 25px;
	top: 16px;
	background: url('../imgs/play-bt.png') no-repeat center center;
}

.fanpai-main .name{
	position: absolute;
	top: 790px;
	left: 62px;
	font-size: 36px;
	color: #333;
	font-weight: bold;
}

.fanpai-main .age{
	position: absolute;
	top: 848px;
	font-size: 24px;
	color: #FFF;
	padding: 5px 15px;
	border-radius: 15px;
	background: #f589ff;
	left: 55px;
}

.fanpai-main .constellation{
	position: absolute;
	top: 848px;
	font-size: 24px;
	color: #FFF;
	padding: 5px 15px;
	border-radius: 15px;
	background: #ff8080;
	left: 128px;
}

.fanpai-main .hobby{
	position: absolute;
	top: 900px;
	font-size: 24px;
	color: #b6b6b6;
	left: 62px;
}

.ctrl-main{
	position: relative;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ctrl-main .cm-bt{
	width: 130px;
	height: 130px;
	border: 16px solid #e8e8e8;
	border-radius: 50%;
	position: relative;
}

.ctrl-main .cm-bt.left{
	float: left;
	margin-left: 190px; 
}

.ctrl-main .cm-bt.left:after{
	content: '';
	position: absolute;
	width: 48px;
	height: 48px;
	background: url('../imgs/icons/cancel.png') no-repeat;
	top: 40px;
	left: 50%;
	margin-left: -24px; 
}

.ctrl-main .cm-bt.right{
	float: right;
	margin-right: 190px;
}

.ctrl-main .cm-bt.right:after{
	content: '';
	position: absolute;
	width: 54px;
	height: 48px;
	background: url('../imgs/icons/like-red.png') no-repeat;
	top: 40px;
	left: 50%;
	margin-left: -27px; 
}

.msg-window{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.msg-window .mw-mask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.5);
}

.msg-window .mw-main{
	position: absolute;
	width: 750px;
	height: 546px;
	background: url('../imgs/window-bg.png') no-repeat;
	left: 0px;
	top: 200px;
}

.mwm-tips{
	position: absolute;
	left: 50%;
	margin-left: -220px;
	top: 280px;
	width: 440px;
	height: 110px;
	font-size: 36px; 
	color: #fcee4a;
	text-align: center;
}

.mwm-bt{
	position: absolute;
	width: 405px;
	left: 50%;
	margin-left: -202px; 
	top: 400px;
	height: 100px;
	line-height: 90px;
	text-align: center;
	background: url('../imgs/bt-bg.png') no-repeat;
	font-size: 36px;
	color: #ff2c4a;
}